/node_modules
/public/hot
# 2022.01.05 イメージファイルを置くのに必要なので、今回はコメントアウトする。
#/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
